<ul class="nav">
  <li class="nav-item" ngbDropdown>
    <a class="nav-link curser" ngbDropdownToggle>Products</a>
    <div ngbDropdownMenu >
      <a ngbDropdownItem routerLink="/products/list">Get Products</a>
      <a ngbDropdownItem routerLink="/products/69">Get Product</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/api-index">API Index</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://app.quicktype.io/
    " target="_blank">Quicktype</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="  https://woocommerce.github.io/woocommerce-rest-api-docs" target="_blank">API Docs</a>
  </li>
</ul>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>